
.nav {
  display: flex;
  justify-content: space-around;
}

.nav h1{
  color: #561d89;
  margin: 0px;
  font-size: 40px;
}

.nav ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


.nav li{
  padding-top: 15px;
  padding-left: 15px;
}
.nav li a{
  text-decoration: none;
  color: #561d89;
}

.nav .nav-pesquisar{
  margin-top: 5px;
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;

}
.nav .nav-pesquisar input{
  flex: 1;
  color: #561d89;
  border: 1px solid #561d89;
  height: 35px;
  border-right: 0px;

}
.nav .nav-pesquisar button{

  color: #561d89;
  border: 1px solid #561d89;
  height: 39px;
  border-left: 0px;

}
